[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
#ExecStart=/home/prometheus/prometheus-2.0.0-rc.1.linux-amd64/prometheus -config.file /home/prometheus/prometheus-1.8.yml \  -storage.local.path /var/lib/prometheus/
#ExecStart=/usr/local/bin/prometheus -storage.local.path=/var/lib/prometheus/data/ -config.file=/etc/prometheus/prometheus-1.8.yml
ExecStart=/usr/local/bin/prometheus -storage.local.path=/var/lib/prometheus/data/ -web.console.templates=/home/prometheus/prometheus-1.8.0.linux-amd64/consoles/ -web.console.libraries=/home/prometheus/prometheus-1.8.0.linux-amd64/console_libraries/ -config.file=/etc/prometheus/prometheus-1.8.yml
[Install]
WantedBy=multi-user.target
